.sidebar {
  float: right;
  background-color: red;
  margin: 30px;
  border: 1px
  padding: 30px;
  width: 300px;
  text-align: center;
  }

.column {
  width: 300px;
  float: left;
}

img {
  float: right;
}
